*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  background: #f4f4f4;
}
.container{
  text-align: center;
  font-family: sans-serif;
  max-width: 500px;
  margin: auto;
}

.container p{
  padding: 30px 10px;
  margin-bottom: 30px;
  background-color: #00838f;
  color: #ffffff;
  font-size: 3em;
}
.container p:nth-child(1){
  background-color: #00838f;
}
.container p:nth-child(2){
  background-color: #bc658d;
}
.container p:nth-child(3){
  background-color: #2c333a;
}
.container p:nth-child(4){
  background-color: #69779b;
}
